.grid{
    background-color: var(--background-card-color);
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 3vw;
    margin-bottom: 10vh;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    border-radius: 15px;
}